$cero: 0px 0px 0px 0px;
$azulcoder: #2178a2;
$grisfondo: rgb(120,126,137);
@mixin formato ($font, $fweight) {
    font-family: $font;
    font-weight: $fweight;
    
}
h1{
    color: white;
}
p{
    color: white;
}

.navbar{
    padding-top: 0px;
    padding-bottom: 0px; 
}
.subtitulos{
    @include formato(Noto Serif TC, bold )
    

}
header{
    margin: $cero;
    padding: $cero;
    border: $cero;
    display: flex;
    flex-direction: column;
    .header__top{
        background-color: $grisfondo;
        display: grid;
        grid-template-areas: 
        "redes telefono"
        ;
        grid-template-columns: 1fr 1fr;
        width: 100%;
        &__redes{
            display: flex;
            grid-area: redes;
            &__imagen{
                width: 5%;
                height: auto;
                margin: 3px 3px 3px 3px;
                
                img{
                    width: 100%;
                    height: auto;
                }
                
            }
            
        }
        &__telefono{
            color:white;
            grid-area: telefono;
            width: 100%;
            text-align: right;
            p{
                margin-top: 3px;
                margin-right: 3px;
            }
            
            
          
        }
        #youtube{
            margin-top: 1%;
        }
    }
    nav{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        padding: 0px 0px 0px 0px ;
        font-family: 'Overpass', sans-serif;
        }
    #nav--padding{
        padding-top: 0;
        padding-bottom: 0;
    }
    .logo{
        align-self: center;
        width: 30%;
        &__img{
            width: 100%;
            height: auto;
        }
    }

}

section{
    margin: $cero;
    padding: $cero;
    border: $cero;
   
 
}
footer{
    margin: $cero;
    padding: $cero;
    border: $cero;
    background-image: linear-gradient( white, #2178a2);
    width: 100%;
}

.contenedorFooter{
    display: flex;
    flex-direction: column;
    align-items: center;
    &__imagen{
        width: 25% ;
        height: 25%;
    }
    &__texto{
        color: white;
    }
}

#itemNav{
    justify-content: space-around;
}
.imagen{
    width: 100%;
    height: AUTO;
    margin: 0 50% 0 50%;
    display: inline-block;
}
.sedes{
    background-image: linear-gradient(#2178a2, white);
    font-family: 'Noto Serif TC', serif;
    &__titulo{
        color: white;
        text-align: center;
        
    }
    &__descripcion{
        text-align: center;
    }
    &__contenedorSedes{
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        &__aSede{
            margin: 10px 10px;
            &__sede{
                width: 100%;
                position: relative;
                &__top{
                    background: rgba($grisfondo,0.5);
                    color: white;
                    font-size: 1em;
                    padding: 5px 0px;
                    position: absolute;
                    width: 100%;    
                    height: 10%;
                    text-align: center;
                }
                &__direccion{
                    color: gray !important;
                }
            }
        }
        
    }


}


.servicios{
    background-image: linear-gradient($azulcoder, white);
    background-size: cover;    
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    font-family: 'Noto Serif TC', serif;
    &__titulo{
        align-self: center;
    }
    &__tipos{
        
        &__laboratorio{
            
           &__titulo{
            @extend .subtitulos;
            color: white;
            text-align: center
            
           }
        }
        &__diagnosticoImagenes{
            &__titulo{
                @extend .subtitulos;
                color: white;
                text-align: center
                
               }
        }
        &__diagnosticoMedicos{
            &__titulo{
                @extend .subtitulos;
                color: white;
                text-align: center
            }
        }
    }
    
}
.equipos{
    background-image: linear-gradient($azulcoder, white);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Noto Serif TC', serif;
}
#video{
    width: 100%;
    height: auto;
}

.carousel-inner{
    height:auto;
    carousel-item{
        height: 900px;
    }
    .carouselImg{
        height: 900px;
    }
}


@media only screen and (max-width: 420px){

.header__top__redes__imagen{
    width: 50% !important;
    height: auto !important;
}
.header__top__telefono{
    text-align: center !important;
    font-size: small !important;
}

#itemNav{
    font-size: smaller  !important;
    flex-direction: column  !important;
}

.sedes__contenedorSedes{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.contenedorFooter__imagen{
    width: 50% !important   ;
}
.carousel-inner{
    height:auto;
    carousel-item{
        height: 300px !important;
    }
    .carouselImg{
        height: 300px !important;
    }
}

}

@media only screen and (max-width: 768px){
    .header__top__redes__imagen{
        width: 10% !important;
    }
    .equipos{
        width: 100% !important;
    }
    #carrouselEquipo{
        width: 100%;
    }

}
.carousel-inner{
    height:auto;
    carousel-item{
        height: 600px;
    }
    .carouselImg{
        height: 600px;
    }
}



